 
# ---- Postgres  ----
POSTGRES_DB=vetclinic
POSTGRES_USER=vetclinic
POSTGRES_PASSWORD=change-me

# ---- Spring   ----
SPRING_PROFILES_ACTIVE=docker

# ---- Datasource ----
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/vetclinic
SPRING_DATASOURCE_USERNAME=vetclinic
SPRING_DATASOURCE_PASSWORD=change-me

# ---- JWT  ----
VETCLINIC_JWT_SECRET=dev-only-change-me-min-32-chars!!

